.breadcrumb-container {
  margin: -0.6rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.9em;
  line-height: 1;
}

.breadcrumb-element {
  p {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    line-height: normal;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
