.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .meta-importance,
  .meta-status,
  .meta-confidence {
    font-variant-numeric: tabular-nums;
  }

  .meta-status {
    font-style: italic;
  }
}
