.content-meta {
  margin-top: 0;
  text-align: center;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .meta-importance,
  .meta-status,
  .meta-confidence {
    font-variant-numeric: tabular-nums;
  }

  .meta-status {
    font-style: italic;
  }

  .meta-sort-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted var(--gray);

    &:hover {
      color: var(--secondary);
      border-bottom-color: var(--secondary);
    }
  }
}
